@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: century gothic;
    list-style: none;
    text-decoration: none;
}
video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
section {
    position: fixed;
    color: white;
    text-shadow: 1px 1px 4px white;
    font-size: 4rem;
    background: rgba(137, 18, 173, 0.200);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 50px;
    padding: 1rem;
    margin: 8rem 12rem ;
    transition: 2s;
}
section:hover {
    color: rgb(225, 255, 58);
    text-shadow: 1px 1px 4px white;
}
#portrait {
    border-radius: 100%;
    width: 80%;
}
.sidebar {
    position: fixed;
    left: -10rem;
    width: 10rem;
    height: 100vh;
    background: rgba(137, 18, 173, 0.750);
    text-shadow: 1px 1px 4px white;
}
.sidebar_header {
    font-size: 0.8rem;
    color: white;
    padding: 1rem 0;
    line-height: 2rem;
    background-color: rgba(44, 6, 56, 0.75);
    text-shadow: 1px 1px 4px white;
    text-align: center;  
}
.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 4rem;
    font-size: 1rem;
    color: white;
    text-align: center;
    transition: 0.4s;
}
.sidebar li:hover a {
    font-size: 1.3rem;
}
.sidebar i {
    margin-right: 0.5rem;
}
#sidebar_checkbox {
    display: none;
}
#bar , #cancel {
    position: absolute;
    cursor: pointer;
    background: rgba(137, 18, 173, 0.767);
    border-radius: 20%;
    font-size: 2rem;
    top: 1.5rem;
}
#cancel {
    top: 2rem;
    font-size: 1rem;
    /* border: 0.5px solid white; */
}
#bar {
    left: 3rem;
    color: white;
    padding: 6px 12px;
    transition: all 0.5s;
}
#cancel {
    left: -3rem;
    z-index: 2;
    color: white;
    padding: 6px 12px;
    transition: all 1s;
}
#sidebar_checkbox:checked ~ .sidebar {
    left: 0;
    transition: all 1s;
}
#sidebar_checkbox:not(checked) ~ .sidebar {
    transition: all 1s;
}
#sidebar_checkbox:checked ~ label #bar {
    left: 0;
    opacity: 0;
    pointer-events: none;
}
#sidebar_checkbox:checked ~ label #cancel {
    left: 11rem;
}

